Pioneer.Consultancy/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PioneerTech.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PioneerTech.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProjectModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="clientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employeeId" type="xs:int" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="projectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="roles" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectModel" nillable="true" type="tns:ProjectModel" />
</xs:schema>