Pioneer.Consultancy/Connected Services/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51635/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PioneerWcfService" />
  <xs:import schemaLocation="http://localhost:51635/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PioneerTech.Models" />
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PioneerWcfService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PioneerWcfService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeProjectDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PioneerTech.Models" minOccurs="0" name="myProject" nillable="true" type="q3:ProjectModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TakeProjectDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TakeProjectDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>